[Unit]
Description=Service for the BTSync docker container
Requires=docker
After=docker

[Service]
ExecStart=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml up
ExecReload=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml restart
ExecStop=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml stop
