[Unit]
Description=Service for the BTSync docker container
Requires=docker
After=docker

[Service]
ExecStart=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml up btsync
ExecReload=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml restart btsync
ExecStop=/usr/local/bin/docker-compose -f /etc/btsync/docker-compose.yml stop btsync

